h1{
    text-align: center;
    vertical-align: top;
    font-size: xxx-large;
    font-family: "Microsoft Sans Serif";
    color:#54C2B9;
}
.res{               //results
    text-align: left;
    font-family: "Microsoft Sans Serif";
    font-size: 30px;
    
}

